<div class="row my-1">
    <div class="col-md-3 mx-auto p-2">
        <div class="card">
            <img src="/product1.jpg" class="card-img-top" height="200px" alt="">
            <div class="card-body">
                <h4>Product1</h4>
                <h2>$30.52</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, veritatis deleniti. Aliquid iusto
                    quia excepturi!
                </p>
            </div>
            <div class="card-footer">
                <form action="/create-checkout-session" method="POST">
                    <button class="btn btn-dark w-100" id="checkout-button" type="submit">
                        buy <i class="fas fa-shopping-cart"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3 mx-auto p-2">
        <div class="card">
            <img src="/product2.jpg" class="card-img-top" height="200px" alt="">
            <div class="card-body">
                <h4>Product2</h4>
                <h2>$45.30</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex dolorum dolorem et incidunt
                    natus.
                </p>
            </div>

            <div class="card-footer">
                <form action="/create-checkout-session" method="POST">
                    <button class="btn btn-dark w-100" id="checkout-button" type="submit">
                        buy <i class="fas fa-shopping-cart"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3  mx-auto p-2">
        <div class="card">
            <img src="/product3.jpg" class="card-img-top" height="200px" alt="">
            <div class="card-body">
                <h4>Product3</h4>
                <h2>$38.35</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta illum nisi labore libero et
                    perferendis.
                </p>
            </div>
            <div class="card-footer">
                <form action="/create-checkout-session" method="POST">
                    <button class="btn btn-dark w-100" id="checkout-button" type="submit">
                        buy <i class="fas fa-shopping-cart"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>